importClass(javafx.scene.image.Image)
importClass(javafx.scene.image.ImageView)
importClass(se.alipsa.rideutils.UrlUtil)
importClass(se.alipsa.rideutils.ReadImage)
importClass(se.alipsa.rideutils.Dialogs)

export(readImage)
export(contentType)
export(as.imageView)
export(greaterThan)
export(lessThan)

export(View)
export(display)
export(viewPlot)
export(browseURL)
export(viewHtml)
export(viewer)
export(help)

export(readline)
export(prompt)
export(promptDate)
export(promptYearMonth)
export(chooseFile)
export(chooseDir)