importClass(javafx.scene.image.Image)
importClass(javafx.scene.image.ImageView)

export(readImage)
export(as.imageView)
export(greaterThan)
export(lessThan)

export(View)
export(display)

export(prompt)
export(chooseFile)
export(chooseDir)